/*
Estilos generales para el sitio web:
- Tipografía
- Body
*/


/*estilo que ira en todos los archivos html para globalizar tipografia y aspecto general del body*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/*estilo que ira en todos los archivos html para globalizar tipografia y aspecto general del body*/